{% block subject %}Notificació{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4>Gràcies per contactar amb nosaltres <br> {{ contact.name }}</h4>
                            <p class="grey-color">Et respondrem el més aviat possible. Seguim en contacte.</p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
