{% extends ':Mails:base.html.twig' %}

{% block subject %}Notificació ERROR al registre de newsletter{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4 class="grey-color text-center">Una persona interessada en rebre el newsletter</h4>
                            <p class="grey-color">
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> ha emplenat el formulari de subscripció al newsletter però s'ha produït un ERROR durant procés de registre a Mailchimp.
                            </p>
                            <p>
                                Ho sentim, però per tal de no perdre l'adreça, hauràs de registrar-la manualment a Mailchimp.
                            </p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
