<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('emails', object) }}" title="{{ 'backend.admin.class_group.pdf.button' | trans }}"><i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-at" aria-hidden="true"></i></a>
