{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    {% spaceless %}
        <div class="text-left">
            {{ object | draw_invoice_month }}
        </div>
    {% endspaceless %}
{% endblock %}
