{% if object.payment == constant('AppBundle\\Enum\\StudentPaymentEnum::BANK_ACCOUNT_NUMBER') or (object.parent and object.parent.payment == constant('AppBundle\\Enum\\StudentPaymentEnum::BANK_ACCOUNT_NUMBER')) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('sepaagreement', object) }}" title="{{ 'backend.admin.sepa_agreement' | trans }}"><i class="fa fa-university"></i></a>
{% endif %}
