# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     travis
    database_password: ~
    database_server_version: 5.5

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_destination: dummy@gmail.com
    mailer_url_base: dummy.dev

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    locale: ca

    google_analytics_enabled: false
    google_analytics_account: "UA-fake..."
    google_maps_api_key: "UA-fake..."

    path_java:         /usr/bin/java
    path_node:         /usr/bin/nodejs
    path_node_modules: /home/<user>/node_modules

    private_admin_test_user: admin
    private_admin_test_pass: admin
    private_editor_test_user: user
    private_editor_test_pass: user

    project_web_title: "Project Name"

    facebook_pixel_enabled: false
    facebook_pixel_id: XXXXXX

    mailchimp_api_key: xxxxxxx-us5
    mailchimp_newsletter_list_id: xxxxxxx

