<div class="login-logo">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <img src="{{ asset('bundles/app/img/login-logo-2.png') }}" alt="{{ sonata_admin.adminPool.title }}">
    </a>
</div>
