{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-success no-m" role="alert">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flash_message }}
    </div>
{% endfor %}
