{% if not object.student.isPaymentExempt and not is_receipt_invoiced(object) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('createInvoice', object) }}" title="{{ 'backend.admin.receipt.createInvoice' | trans }}">
        <i class="fa fa-clone"></i>
    </a>
{% endif %}
