{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_delete' | trans({}, 'SonataAdminBundle') }}"><i class="fa fa-trash"></i></a>
{% endif %}
