{% if not object.student.isPaymentExempt %}
    {% if not object.sended %}
        <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('send', object) }}" title="{{ 'backend.admin.invoice.send' | trans }}">
            <i class="fa fa-envelope-o"></i>
        </a>
    {% else %}
        <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('send', object) }}" title="{{ 'backend.admin.invoice.resend' | trans }}">
            <i class="fa fa-envelope-open-o"></i>
        </a>
    {% endif %}
{% endif %}
