{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-12 text-justify">
                <p>El meu nom és Ester Escrihuela Simó, ampostina de 33 anys i directora del centre BOX IDIOMES.</p>
                <p>Des dels 4 anys vaig anar a classes d’anglès; com tot nen i nena obligada pels meus pares, que deien que em seria útil de cara al futur.
                    Durant l’adolescència l’anglès i jo vam tenir discrepàncies, i després d’una parada d’uns pocs mesos, em vaig adonar que m’agradava i que, tot i no saber de quina manera, volia que formés part del meu futur laboral.</p>
                <p>Va arribar el dia de fer preinscripcions a la universitat i, perduda com estava, vaig acudir als meus professors, els meus mentors, els germans Mònica i Emigdi Subirats per demanar consell. “Ja de ben petita traduïes i ho feies molt bé, tens una capacitat innata per als idiomes, fes traducció i interpretació!” em van dir, i així vaig conèixer aquesta carrera.
                    Poc després entrava a la Universitat Autònoma de Barcelona, a estudiar traducció i interpretació d’anglès i italià. Una carrera que em va encantar!</p>
                <p>Malauradament, per problemes visuals no podia ser competent en el mercat de la traducció i vaig optar per una sortida laboral que també m’apassionava: l’ensenyament... i d’aquesta manera neix Box Idiomes.</p>
                <p>L’objectiu de Box és que tothom, tingui l’edat que tingui, estigui a gust i motivat dins l’aula i aprengui de la manera més adaptada a ell possible i amb la màxima flexibilitat.</p>
                <p>A Box, no hi ha cap grup igual. El nostre objectiu és adaptar-nos a les necessitats de cada alumne i no hi ha dos alumnes iguals i encara menys dos grups iguals.
                    Per això treballem en grups reduïts de màxim 9 alumnes per classe.</p>
                <p>La metodologia parteix de la base de la Universitat de Cambridge, prestigiosa universitat reconeguda mundialment per la seva tasca en ensenyament de la llengua anglesa; ja sigui pels llibres i metodologia com pels valuosos títols que atorguen.</p>
                <p>La secció dels més petits de Box fan classes dinàmiques, amb jocs, cançons, històries, vídeos i petits projectes tot seguint rigorosament un programa dirigit sobre la base d’una col·lecció de llibres anomenats Kid’s Box de l’editorial Cambridge University Press.
                    Kid’s Box dona als més petits un aprenentatge divertit, interessant i interactiu perquè és puguin sentir segurs a l’hora d’usar la llengua en un context que no sigui únicament la classe.</p>
                <p>La secció d’adolescents adopta un caire una mica més seriós, amb classes sempre combinades amb un anglès nadiu i un professor o professora de la zona per ajudar-los més amb la gramàtica.
                    Les edats compreses entre els 10 i el 17 anys són les millors per poder donar-li una embranzida a l’anglès i poder fer el exàmens per poder marxar a la universitat amb la tranquil·litat que allò ja ho tens a la butxaca.</p>
                <p>La secció d’adults es totalment adaptada al tipus de grup/classe que hi ha. Tenim grups per a anglès especialitzat en diverses àrees, anglès general o anglès encarat a la superació dels exàmens.</p>
                <p>A tots ens agraden les tradicions i les festes populars, així que quan arriba l’hora del Halloween, Nadal i Pasqua a Box ens vestim per a l’ocasió i adaptem les classes a cada festa.
                    Els més petits fan disfresses, cançons, petits teatres, murals i els més grans treballen el vocabulari, fan jocs i miren pel·lícules o vídeos adaptats al nivell i a la temàtica.</p>
                <p>A banda de l’ensenyament principalment de la llengua anglesa a Box Idiomes també tenim grups d’Italià, Alemany i Francès, així com qualsevol idioma a la carta pel que busquem professorat adient.</p>
                <p>A Box us esperem encantats, els resultats acadèmics i la bona opinió dels alumnes que han passat per aquí ens avalen. Vine i segur que parlem el mateix idioma!</p>
            </div>
        </div>
    </div>
{% endblock %}
