{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="{{ asset('bundles/app/img/academy_1.png') }}"
                     class="img-responsive" alt="head">
            </div>
            <div class="col-xs-12 col-sm-6 text-left c-grey bottom-margin-responsive">
                <h4 class="c-blue">Box Idiomes</h4>
                <p>L’objectiu de Box és que tothom, tingui l’edat que tingui, estigui a gust i motivat dins l’aula i
                    aprengui de la manera més adaptada a ell possible i amb la màxima exibilitat.</p>
                <p>A Box, no hi ha cap grup igual. El nostre objectiu és adaptar-nos a les necessitats de cada alumne i
                    no hi ha dos alumnes iguals i encara menys dos grups iguals. Per això treballem en grups reduïts de
                    màxim 9 alumnes per classe.</p>
                <p>La metodologia parteix de la base de la Universitat de Cambridge, prestigiosa uni- versitat
                    reconeguda mundialment per la seva tasca en ensenyament de la llengua anglesa; ja sigui pels llibres
                    i metodolo- gia com pels valuosos títols que atorguen.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 extra-m-bottom top-margin-responsive-inversed">
                <img src="{{ asset('bundles/app/img/academy_2.png') }}"
                     class="img-responsive" alt="head">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center c-grey">
                <p>A Box us esperem encantats, els resultats acadèmics i la bona opinió dels alumnes que han passat per aquí ens avalen.</p>
                <h4 class="c-violet top normal-m-top">Vine i segur que parlem el mateix idioma!</h4>
            </div>
        </div>

    </div>
{% endblock %}
