{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row extra-m-top">
            <div class="col-xs-12 col-md-6 normal-m-top extra-m-bottom">
                <img src="{{ asset('bundles/app/img/crèdits-bubble-box.png') }}" width="375" height="150"
                     class="img-responsive" alt="credits buble box">
                <div class="caption col-xs-12 col-xs-offset-1 col-md-6 col-md-offset-1 c-white">
                    <h3>{{ 'frontend.credits.credits' | trans | upper }}</h3>
                    <p>
                        Disseny gràfic: <a href="http://www.tujodisseny.com/" class="c-white" target="_blank">Tu&Jo Disseny</a><br>
                        Fotografia: <a href="http://www.lazarofotograf.com/" class="c-white" target="_blank">Làzaro Fotògraf</a><br>
                        Gestió de continguts: <a href="http://www.lofaro.cat/" class="c-white" target="_blank">Lo Faro
                            Comunicació</a><br>
                        Desenvolupament web: <a href="http://www.flux.cat" class="c-white" target="_blank">Flux</a><br>
                        Agraïments: <a href="https://github.com/aserratorta" class="c-white" target="_blank">Anton Serra</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
