{% extends 'Front/layout.html.twig' %}

{% block title %}Política de privacitat · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-12 text-justify">
                <h3>1. POLÍTICA DE PRIVACITAT</h3>
                <p>BOX IDIOMES està especialment sensibilitzada en la protecció de dades de caràcter personal dels Usuaris dels serveis de la pàgina Web. Mitjançant la present Política de Privacitat (d’ara endavant, la Política).
                    BOX IDIOMES informa als USUARIS del llocs web www.boxidiomes.cat, del tractament i usos als quals se sotmeten les dades de caràcter personal que es recullen al Web, amb la finalitat que pugin decidir, lliure i voluntàriament, si desitgen facilitar la informació sol·licitada.</p>
                <p>BOX IDIOMES, com a responsable del lloc web, de conformitat amb el que disposa el Reglament (UE) 2016/679 de 27 d’abril de 2016 (RGPD) relatiu a la protecció de les persones físiques quant a tractament de dades personals, i per la Llei 34/2002, d’11 de juliol, de Serveis de la Societat de la Informació i del Comerç Electrònic (LSSICE), l’informa que té implementades les mesures de seguretat necessàries, d’índole tècnica i organitzatives, per garantir i protegir la confidencialitat, integritat i disponibilitat de les dades introduïdes.</p>
                <p>BOX IDIOMES es reserva la facultat de modificar aquesta Política amb l’objecte d’adaptar-la a novetats legislatives, criteris jurisprudencials, pràctiques del sector o interessos de l’entitat. Qualsevol modificació d’aquesta política serà anunciada amb antelació per tal d’informar als Usuaris.</p>
                <h4>REGISTRE DE FITXERS I FORMULARIS</h4>
                <p>BOX IDIOMES, obté la informació mínima i indispensable mitjançant formularis, qüestionaris electrònics o, si s’escau, impresos descarregables.</p>
                <h4>RESPONSABLE DEL TRACTAMENT</h4>
                <p>BOX IDIOMES, amb domicili al Carrer Góngora, 40 - 43870 Amposta (Tarragona), de la qual, Ester Escrihuela Simó, amb DNI 47821217P actua com a responsable del tractament de dades.</p>
                <h4>FINALITAT DEL TRACTAMENT</h4>
                <p>Les dades personals recaptades s’utilitzaran per a realitzar les gestions informatives, comercials i administratives necessàries amb els Usuaris. Així mateix, les dades podran ser utilitzades per enviar informació, per qualsevol mitjà, sobre els aspectes anteriors, i en relació a altres serveis o productes de BOX IDIOMES.</p>
                <p>BOX IDIOMES, incorpora les seves dades a una llista de correu electrònic de Newsletter per enviar informació rellevant i d’interès per als Usuaris.</p>
                <p>Les dades personals recaptades no seran cedits o comunicats a tercers, excepte en els supòsits necessaris per al desenvolupament, control i compliment de les finalitats expressades anteriorment, en els supòsits previstos segons la Llei, així com en casos específics dels quals s’informi expressament a l’Usuari.</p>
                <h4>LEGITIMACIÓ DEL TRACTAMENT</h4>
                <p>La base legal pel tractament de les dades és el consentiment de l’Usuari atorgat per portar a terme les finalitats anteriorment descrites, que se sol·licitarà en el moment de marcat de la casella corresponent a l’hora de recollir les seves dades.</p>
                <h4>ACTUALITZACIÓ DE LES DADES</h4>
                <p>Amb la finalitat de que les dades existents als nostres fitxers, informàtics i/o en paper, sempre corresponguin a la realitat, es procurarà de mantenir-les actualitzades. De manera que, a aquests efectes, l’Usuari haurà de realitzar els canvis, directament, quan així estigui habilitat o comunicant-se, per mitjà fefaent, a l’àrea o departament corresponent a BOX IDIOMES</p>
                <h4>DRETS DELS USUARIS INTERESSATS</h4>
                <p>Com Usuari-Interessat, pot sol·licitar l’exercici dels drets d’accés, rectificació, cancel·lació, oposició, limitació del tractament i portabilitat. Pot sol·licitar l’exercici dels seus drets davant BOX IDIOMES remetent un escrit amb l’assumpte “RGPD. Exercici Drets” per les següents vies:</p>
                <ol>
                    <li>Per correu postal a l’adreça:
                        <ul class="list-unstyled" style="margin-left: 20px">
                            <li>Box Idiomes</li>
                            <li>C. Góngora, 40</li>
                            <li>43870 Amposta</li>
                            <li>(Tarragona)</li>
                        </ul>
                    </li>
                    <li>
                        Enviant un correu electrònic a:
                        <ul class="list-unstyled" style="margin-left: 20px">
                            <li><a href="mailto:info@boxidiomes.cat?subject=RGPD. Exercici Drets">info@boxidiomes.cat</a></li>
                        </ul>
                    </li>
                </ol>
                <h4>CONDICIONS I TERMES D’ÚS</h4>
                <p>Amb caràcter general, i sense perjudici de les condicions i termes particulars que es fixin en els apartats corresponents a serveis concrets, l’Usuari s’obliga al compliment de les presents condicions i termes d’ús, i obrar sempre conforme a la llei, als bons costums i a les exigències de la bona fe, emprant la diligència adequada a la naturalesa del servei del que gaudeix, abstenint-se d’utilitzar el lloc Web, de qualsevol forma que pugui impedir, danyar o deteriorar el normal funcionament del mateix, els béns o drets de BOX IDIOMES, de la resta d’Usuaris o en general de qualsevol tercer.</p>
                <p>En particular, i sense que això impliqui restricció alguna a l’obligació assumida per l’Usuari amb caràcter general de conformitat amb l’apartat anterior, l’Usuari s’obliga, en la utilització de dels llocs web titularitat de BOX IDIOMES a:
                <ul>
                    <li>No introduir, emmagatzemar o difondre en o des dels llocs Web, qualsevol informació o material que fos difamatori, injuriós, obscè, amenaçador, xenòfob, inciti a la violència a la discriminació per raó de raça, sexe, ideologia, religió o que de qualsevol forma atempti contra la moral, l’ordre públic, els drets fonamentals, les llibertes públiques, l’honor, la intimitat o la imatge de tercers i en general la normativa vigent.</li>
                    <li>No introduir, emmagatzemar o difondre mitjançant els llocs Web cap programa d’ordinador, dades, virus, codi, equip de maquinari o de telecomunicacions o qualsevol altre instrument o dispositiu electrònic o físic que sigui susceptible de causar danys en els llocs Web, en qualsevol dels serveis, o en qualsevol dels equips, sistemes o xarxes de BOX IDIOMES, de qualsevol Usuari, o en general de qualsevol tercer. O que de qualsevol altra forma sigui capaç de causar-los qualsevol tipus d’alteració o impedir el normal funcionament dels mateixos.
                        Custodiar adequadament el “Nom d’Usuari” (Login) i la “Contrasenya” (Password) que siguin facilitats per BOX IDIOMES als Usuaris com a elements identificadors i habilitadors per a l’accés als diferents serveis oferts en el lloc Web de BOX IDIOMES, comprometent-se a no cedir el seu ús ni a permetre’n l’accés de tercers, assumint la responsabilitat pels danys i perjudicis que poguessin derivar-se d’un ús indegut.
                        En aquest sentit, si per a la utilització d’un servei dels llocs Web, l’Usuari hagués de procedir al seu registre, aquest serà responsable d’aportar informació veraç i lícita. Si com a conseqüència del registre, es dotés a l’Usuari d’una identificació i/o contrasenya, aquest es compromet a fer un ús diligent i a mantenir en secret la contrasenya per accedir a aquests serveis. En conseqüència, els Usuaris són responsables de l’adequada custòdia i confidencialitat de qualssevol identificadors i/o contrasenyes que li siguin subministrades per BOX IDIOMES, i es comprometen a no cedir el seu ús a tercers, ja sigui temporal o permanent, ni a permetre el seu accés a d’altres persones.
                        En virtut de l’anterior, és obligació de l’Usuari notificar de forma immediata a BOX IDIOMES, sobre qualsevol fet que permeti l’ús indegut dels identificadors i/o contrasenyes, tals com el robatori, extraviament, o l’accés no autoritzat, amb la finalitat de procedir a la seva immediata cancel·lació. Mentre no es comuniquin tals fets, BOX IDIOMES quedarà eximit de qualsevol responsabilitat que pogués derivar-se de l’ús indegut dels identificadors o contrasenyes per tercers no autoritzats.</li>
                    <li>No realitzar activitats publicitàries, promocionals o d’explotació comercial a través dels llocs Web, no utilitzant els continguts i en particular la informació obtinguda a través del lloc Web per remetre publicitat, enviar missatges amb finalitats de venda o amb qualsevol altra fi comercial, ni per recollir o emmagatzemar dades personals de tercers.</li>
                    <li>No utilitzar identitats falses, ni suplantar la identitat d’uns altres en la utilització dels llocs Web o en la utilització de qualsevol dels serveis del Web, incloent la utilització si escau de contrasenyes o claus d’accés de tercers o de qualsevol altra forma.</li>
                    <li>No destruir, alterar, utilitzar per al seu ús, inutilitzar o danyar les dades, informacions, programes o documents electrònics de BOX IDIOMES, o tercers.</li>
                </ul>
                </p>
                <h3>2. COOKIES</h3>
                <p>En compliment del Reial Decret-Llei 13/2012, BOX IDIOMES demana el teu permís per instal·lar cookies amb la finalitat d’obtenir dades estadístiques de la teva navegació en aquesta pàgina web. En continuar utilitzant “www.boxidiomes.cat” estàs acceptant l’instal·lació i l’ús de cookies. Política de privacitat. Sobre les cookies.</p>
                <p>Sobre l’ús de les galetes o cookies en aquest lloc web.</p>
                <p>Una galeta (o cookie en anglès) és un petit fragment de codi que els llocs web que visites envien al teu navegador. La seva funció és diversa, per exemple:
                <ul>
                    <li>Hi ha galetes de preferències, que serveixen per exemple per recordar l’idioma que has triat per navegar.</li>
                    <li>Hi ha galetes de processos que memoritzen algunes dades quan accedeixes a una àrea privada per a tenir-les en compte el dia que hi tornis, com per exemple un carret de la compra a una botiga online.</li>
                    <li>Hi ha cookies de seguretat, que serveixen per impedir que una altra persona faci un ús fraudulent de les teves credencials d’accés.</li>
                    <li>També hi ha galetes de publicitat, que enregistren dades relacionades amb les teves cerques a Internet per tal d’adaptar els teus gustos/interessos millor als tipus d’anuncis que apareixen als llocs web visitats.</li>
                    <li>Finalment hi ha galetes d’anàlisi, com les de Google Analytics, que envien informació als propietaris del web per entendre millor com interaccionen els visitants. Aquestes cookies recopilen informació estadística sobre l’ús del lloc web sense identificar personalment els visitants.</li>
                </ul>
                En tots els casos les cookies aconsegueixen que els llocs web siguin més útils per a tu i nosaltres les considerem un recurs per a fer que el web sigui més efectiu, útil i pràctic. Sempre respectem la teva intimitat i la de totes les persones que ens visiten, com ha de ser.</p>
                <p>BOX IDIOMES fa servir cookies d’anàlisi, concretament per a què Google Analytics ens faciliti dades sobre les visites d’aquest lloc web, sempre de forma anònima, i puguem millorar-ne els continguts que hi oferim. Podeu consultar més informació relacionada amb la privacitat de les vostres dades i les cookies de Google Analytics : <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">aquí</a></p>
                <p>Pots canviar d’opinió i eliminar les cookies quan tu vulguis.</p>
                <p>Per a consultar i gestionar les cookies instal·lades al teu equip cal que canviïs la configuració del teu navegador. Trobaràs informació detallada en els següents enllaços:
                <ul>
                    <li>Si navegues amb Firefox: <a href="https://support.mozilla.org/ca/kb/Galetes">https://support.mozilla.org/ca/kb/Galetes</a></li>
                    <li>Si navegues amb Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=ca">https://support.google.com/chrome/answer/95647?hl=ca</a></li>
                    <li>Si navegues amb Internet Explorer: <a href="https://support.microsoft.com/es-es/kb/278835">https://support.microsoft.com/es-es/kb/278835</a></li>
                    <li>Si navegues amb Safari: <a href="https://support.apple.com/es-es/HT201265">https://support.apple.com/es-es/HT201265</a></li>
                    <li>Si et calen més detalls sobre l’ús que fem de les cookies escriu-nos a <a href="mailto:info@boxidiomes.cat">info@boxidiomes.cat</a> i te n’informarem.</li>
                </ul>
                </p>
                <h3>3. AVÍS LEGAL</h3>
                <h4>Responsabilitat del web</h4>
                <p>Box Idiomes, és la marca comercial de BOX IDIOMES, amb domicili al Carrer Góngora, 40, 43870 Amposta - (Tarragona), de la qual, Ester Escrihuela Simó, amb DNI 47821217P actua com a titular, dinamitzadora i gestora de continguts del web: www.boxidiomes.cat</p>
                <h4>Concepte d’usuari</h4>
                <p>La utilització del web atribueix la condició d’usuari, i implica l’acceptació plena i sense reserves de totes i cadascuna de les disposicions incloses en aquest Avís Legal en la versió publicada per BOX IDIOMES en el mateix moment que l’usuari accedeixi a la Web. BOX IDIOMES informarà als usuaris de qualsevol canvi en aquest Avís legal.</p>
                <p>Informació sobre els enllaços o links BOX IDIOMES no es fa responsable de les webs no pròpies a les quals es pot accedir mitjançant vincles o de qualsevol contingut posat a disposició per tercers. Qualsevol ús d’un vincle o accés a un web no propi és realitzat per voluntat i risc exclusiu de l’usuari i BOX IDIOMES no recomana ni garanteix cap informació obtinguda a través d’un vincle aliè al web de BOX IDIOMES ni es responsabilitza de cap pèrdua, reclamació o perjudici derivada de l’ús o mal ús d’un vincle, o de la informació obtinguda a través d’ell, incloent altres vincles o webs, de la interrupció en el servei o en l’accés, o de l’intent d’usar o usar malament un vincle, tant al connectar al web de BOX IDIOMES com a l’accedir a la informació d’altres webs des del web de BOX IDIOMES</p>
                <h4>Informació sobre la utilització de galetes o cookies</h4>
                <p>En aquest web es poden estar utilitzant cookies en algunes pàgines. La finalitat d’aquestes cookies és millorar el servei que oferim als nostres clients i als nostres visitants. Les cookies són petits fitxers de dades que es generen en l’ordinador de l’usuari i que permeten obtenir la següent informació:
                <ul>
                    <li>Data i hora de l’ultima vegada que l’usuari visita el web.</li>
                    <li>Disseny de contingut que l’usuari va escollir en la seva primera visita al web.</li>
                    <li>Elements de seguretat que intervenen en el control d’accés a les àrees restringides.</li>
                </ul>
                Renúncia i limitació de la responsabilitat.</p>
                <p>La informació i serveis inclosos o disponibles a través de les pàgines web poden incloure incorreccions o errors tipogràfics. De forma periòdica s’incorporen canvis a l’informació continguda. BOX IDIOMES pot introduir en qualsevol moment millores i/o canvis en els serveis o continguts.</p>
                <p>BOX IDIOMES ha obtingut la informació i els materials inclosos en el web de fonts considerades com fiables, però, si bé s’han pres les mesures corresponents per a assegurar que la informació continguda sigui correcta, no garanteix que sigui exacta i actualitzada.
                    També s’adverteix que els continguts d’aquest Web, tenen dues finalitats, una finalitat informativa quant a la qualitat, situació, serveis i tarifes i altra de venda de productes segons el previst en el present avís legal i la resta de textos legals del present web.</p>
                <p>Informació sobre l’exempció de tota la responsabilitat derivada d’una fallada tècnica i de contingut.</p>
                <p>BOX IDIOMES declina qualsevol responsabilitat en cas que existeixin interrupcions o un mal funcionament dels serveis o continguts oferts en Internet, qualsevol que sigui la seva causa. Així mateix, BOX IDIOMES no es fa responsable per caigudes de la xarxa, pèrdues de negoci a conseqüència d’aquestes caigudes, suspensions temporals del fluid elèctric o qualsevol altre tipus. BOX IDIOMES no declara ni garanteix que els serveis o continguts no siguin interromputs o que estiguin lliures d’errors, que els defectes siguin corregits, o que el servei o el servidor que ho posa a disposició estiguin lliures de virus o altres components nocius, sense perjudici que BOX IDIOMES realitza els seus millors esforços a evitar aquest tipus d’incidents. En cas que l’usuari prengués determinades decisions o realitzés accions amb base a la informació inclosa en qualsevol dels llocs web, es recomana la comprovació de la informació rebuda amb altres fonts.</p>
                <h4>Propietat industrial i intel·lectual</h4>
                <p>Dels continguts creats i generats per BOX IDIOMES així com els continguts abocats en la xarxa a través de les seves pàgines Web, n’és permesa la còpia, distribució, comunicació i la còpia privada seguint la llicència CREATIVE COMMONS, 3.O <a href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.ca">(http://creativecommons.org/licenses/by-sa/3.0/es/deed.ca).</a></p>
                <p>No obstant els logotips, icones, botons, programari, noms comercials, marques, dibuixos industrials o qualsevol altres signes propietat de tercers titulars que han autoritzat degudament la seva inclusió en els diferents llocs web de BOX IDIOMES, queden exclosos d’aquesta llicència d’ús.</p>
                <p>Els continguts, imatges, formes, opinions, índexs i altres expressions formals que formin part de les pàgines web, així com el programari necessari per al funcionament i visualització de les mateixes, constitueixen així mateix una obra en el sentit del Dret d’Autor i queden, per tant, protegides per les convencions internacionals i legislacions nacionals en matèria de Propietat intel·lectual que resultin aplicables. L’ incompliment de l’assenyala’t implica la comissió de greus actes il·lícits i la seva sanció per la legislació civil i penal.</p>
                <p>BOX IDIOMES és lliure de limitar l’accés a les pàgines web, i als productes i/o serveis en ella oferts, així com la consegüent publicació de les opinions, observacions, imatges o comentaris que els usuaris puguin fer-li arribar a través del correu electrònic.</p>
                <p>BOX IDIOMES en aquest sentit, podrà establir, si ho considera oportú, sense perjudici de l’única i exclusiva responsabilitat dels usuaris, els filtres necessaris a fi d’evitar que a través de les seves pàgines web puguin abocar-se en la xarxa continguts o opinions, considerats com racistes, xenòfobs, discriminatoris, pornogràfics, difamatoris o que, de qualsevol manera, fomentin la violència o la disseminació de continguts clarament il·lícits o nocius.</p>
                <p>Aquells usuaris que enviïn als llocs web de BOX IDIOMES, al seu departament de suggeriments, observacions, opinions o comentaris per mitjà del servei de correu electrònic, tret que expressin de manera certa i veraç el contrari, en els casos en els quals per la naturalesa dels serveis o continguts això sigui possible, s’entén que autoritzen a BOX IDIOMES per a la reproducció, distribució, exhibició, transmissió, retransmissió, emissió en qualsevol format, emmagatzematge en suports físics o lògics (per exemple, disquets o disc dur d’ordinadors), digitalització, posada a disposició des de bases de dades pertanyents a BOX IDIOMES, traducció, adaptació, arranjament o qualsevol altra transformació de tals observacions, opinions o comentaris, per tot el temps de protecció de dret d’autor que estigui previst legalment.</p>
                <p>Així mateix, s’entén que aquesta autorització es fa a títol gratuït, i que pel sol fet d’enviar per correu electrònic tals observacions, opinions o comentaris, els usuaris declinen qualsevol pretensió remuneratòria per part de BOX IDIOMES</p>
                <p>D’acord amb l’assenyalat en el paràgraf anterior, BOX IDIOMES queda autoritzada igualment per a procedir a la modificació o alteració de tals observacions, opinions o comentaris, a fi d’adaptar-los a les necessitats de format editorial de les pàgines web, sense que per això pugui entendre’s que existeix en absolut qualsevol tipus de lesió de qualssevol de les facultats morals de dret d’autor que els usuaris poguessin ostentar sobre aquelles.</p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
