// Brand colors
@ek-c-white:      #FFFFFF;
@ek-c-black:      #000000;
@ek-c-green:      #A1C548;
@ek-c-orange:     #E27436;
@ek-c-violet:     #40315F;
@ek-c-magenta:    #AF1F69;
@ek-c-dark-cyan:  #5E9B9A;
@ek-c-grey:       #808080;
@ek-c-ligth-grey: #EEEEEE;

.c-white  { color: @ek-c-white;  }
.c-green  { color: @ek-c-green;  }
.c-orange { color: @ek-c-orange; }
.c-grey   { color: @ek-c-grey;   }

.white-background { background-color: @ek-c-white;      }
.grey-background  { background-color: @ek-c-ligth-grey; }
.black-background { background-color: @ek-c-black;      }
.green-background { background-color: @ek-c-green;      }
.green-background-dark  { background-color: darken(@ek-c-green, 15%);  }
.green-background-light { background-color: lighten(@ek-c-green, 35%); }
.orange-background { background-color: @ek-c-orange; }
