/* Colors */
.black-background      { background-color: #000000; }
.green-background      { background-color: #A1C548; }
.white-background      { background-color: #FFFFFF; }
.light-grey-background { background-color: #E3E3E3; }
.white-color      { color: #FFFFFF; }
.green-color      { color: #A1C548; }
.grey-color       { color: #6F6F6F; }
.blue-color       { color: #009CC2; }

/* Margins */
.vertical-padding { padding: 20px 0; }
.padding-bottom   { padding: 16px 0; }

/* Custom main container */
.container-main {
   min-height: 400px;
   padding-top: 40px;
   padding-bottom: 40px;
}

/* Custom margins */
.left-margin-negative {
   margin-left: 15px;
}
