{% extends "::Admin/show.html.twig" %}

{% block title %}TT{% endblock %}

{% block navbar_title %}Audi{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">{{ 'backend.admin.invoice.student' | trans }}</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
