{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-body">
            {% include "@FullCalendar/Calendar/calendar.html.twig" %}
        </div>
    </div>
{% endblock %}
