{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-danger">
        <div class="box-header">
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>
{% endblock %}
