{% extends "::Admin/show.html.twig" %}

{% block title %}
    {{ 'title_edit' | trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
{% endblock %}

{% block show %}
    <h1>hi</h1>
{% endblock %}